p {
    font-family: cursive;

}

p {
    font-family: cursive;

}

h1 {
    margin-top: 50px;
    font-family: cursive;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: cursive;
}

body {
    background-color: lightblue;
}

footer {
    text-align: center;
}

section {
    display: flex;
}

aside {
    flex: 1;
}

article {
    text-align: left;
    flex: 4;
}

.center-text {
    text-align: center;
}

medial {
    font-family: Georgia;
}